.typing {
    font-family: monospace;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid  white;
    animation: typing 5.5s steps(70, end), blink-caret 0.5s step-end infinite;
}
  
 @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
  
@keyframes blink-caret {
    from, to { border-right-color: 1  transparent; }
    50% { border-right-color: white}
}
